Repository playcanvas/editor, pull requests merged in 2025-09, with the labels that each got.

#1425 Support SOG
  src/editor/assets/assets-upload.ts
  src/editor/inspector/assets/gsplat.ts
  src/editor/viewport/viewport-drop-gsplat.ts
Labels: enhancement

#1448 Scene camera pan fix
  src/editor/viewport/camera/camera-pan.ts
Labels: bug, area: viewport, area: editor interface

#1453 fix(asset-panel): do not auto-select newly created asset if it would disrupt workflow
  src/editor/assets/assets-context-menu.ts
Labels: area: editor interface, enhancement

#1469 Assets Panel header makeup - tooltips, styling
  sass/editor/_editor-assets-panel.scss
  src/common/ui/tooltip.ts
  src/editor/assets/asset-panel.ts
Labels: area: editor interface, enhancement
